<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pastelGreen</key>
	<string>#78E887</string>
	<key>illicitGreen</key>
	<string>#61F99E</string>
	<key>blackKnight</key>
	<string>#001019</string>
</dict>
</plist>
